{% extends 'base.html' %}
{% block content %}
<p class="lead text-center">Analyze your friend's chess games. Understand how to beat them.</p>
<form method="POST">
    <div class="form-group">
        Username: <input type="text" class="form-control" name="chess_username">
        Analyze Games from the Past ___ Days: <input type="number" class="form-control" name="num_lookback_days" min=1 max=365 value=50>
        Chess Platform:<br>
        <input type="radio" id="lichess" value="lichess" name="platform" checked="checked">
        <label class="form-check-label" for="lichess">Lichess</label><br>
        <input type="radio" id="chesscom" value="chesscom" name="platform">
        <label class="form-check-label" for="chesscom">Chess.com</label><br>
        <input type="radio" id="both" value="both" name="platform">
        <label class="form-check-label" for="both">Both</label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary">checkmymate</button>
    </div>
</form>

{% if error_name %}
<div class="alert alert-warning"><strong>Uh oh! </strong>Looks like "{{error_name}}" isn't a {{error_platform}} user!</div>
{% endif %}

{% endblock %}
