{% extends 'base.html' %}
{% block content %}

<h3 class="jumbotron-heading text-center"> {{ chess_username }}'s most common openings </h3>
</br>
{% for color in ["white", "black"] %}
    <div class="text-center"><h5>{{ {"white": "White", "black": "Black"}[color] }}</h5></div>

    <table class="table">
        <thead>
            <tr>
                <th>Opening</th>
                <th>Number of Games</th>
                <th>Avg Points per Game</th>
            </tr>
        </thead>
        <tbody>
            {% for opening in opening_stats_struct[color] %}
            <tr>
                <td>{{opening["opening"]}}</td>
                <td>{{opening["num_games"]}}</td>
                <td>{{'%0.4f'|format(opening["avg_points_per_game"]|float)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </br>
{% endfor %}

{% endblock %}
